name: CICD Pipeline

on:
  push:
    branches:
      - main


jobs:
  Testing:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '22'

      - name: Display node.js version
        run: node -v

      - name: Install Dependencies
        run: npm install

      - name: Run Tests
        run: npm run check

  
  Deploy:
    runs-on: [self-hosted, github-runner-1]
    needs: Testing
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
 
      - name: Install Node.js
        run: |
          curl -fsSL https://deb.nodesource.com/setup_22.x | sudo -E bash -
          sudo apt-get install -y nodejs
          node --version
          npm --version

      - name: Verify Node.js version
        run: node --version
 
      - name: Install Dependencies
        run: npm install

      - name: Install pm2 
        run: sudo npm install -g pm2
 
      - name: Deploy to Server
        run: |
          sudo pm2 delete "Server" || true
          sudo pm2 start "npm run dev" --name="Server"
