name: CICD Pipeline

on:
  push:
    branches:
      - main


jobs:
  Testing:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '22'

      - name: Display node.js version
        run: node -v

      - name: Install Dependencies
        run: npm install

      - name: Run Tests
        run: npm run check

  
  Deploy:
    runs-on: self-hosted
    needs: Testing
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
 
      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:  
          node-version: '22'

      - name: Verify Node.js version
        run: node --version
 
      - name: Install Dependencies
        run: npm install

      - name: Install pm2 
        run: npm install -g pm2
 
      - name: Deploy to Server
        run: |
          pm2 delete "Server" || true
          pm2 start "npm run dev" --name="Server"
